.feed-container {
  /* background-color: #376e6f; */
  padding: 5px 5px !important;
  margin-left: 56px !important;
  margin-top: 10px !important;
}

.ant-card-head {
  padding: 3px !important;
  margin-top: -15px !important;
}
.username {
  position: relative;
  top: 2px;
  margin-left: 5px;
  padding: 5px 5px;
  text-decoration: underline;
}
