.feed-container {
  /* background-color: #376e6f; */
  padding: 5px 5px !important;
  margin-left: 56px !important;
  margin-top: 10px !important;
  -webkit-box-shadow: 4px 5px 10px 0px rgba(158, 186, 176, 1);
  -moz-box-shadow: 4px 5px 10px 0px rgba(158, 186, 176, 1);
  box-shadow: 4px 5px 10px 0px rgba(158, 186, 176, 1);
}

.ant-card-head {
  padding: 3px !important;
  margin-top: -15px !important;
}
.username {
  position: relative;
  top: -3px;
  margin-left: 5px;
  padding: 5px 5px;
  text-decoration: underline;
}

.spin-center {
  display: block !important;
  position: fixed !important;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  left: 45%;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

::placeholder {
  color: rgba(141, 142, 142) !important;
}
