.follow-button {
  background-color: #376e6f !important;
  border-color: #376e6f !important;
}

.follow-button:hover {
  /* transform: scale(1.05);
  transition: 0.1s linear 0.1s; */
  cursor: pointer;
}
/* .profile-picture {
  background-color: #376e6f !important;
  border: 2px solid #376e6f;
  border-color: #376e6f;
} */
.profile-picture:hover {
  transform: scale(1.05);
  transition: 0.2s linear 0.2s;
}

.name {
  margin-top: 5px;
  padding: 7px 7px;
  font-size: 18px;
  font-weight: bold;
}
.bio {
  margin-top: 5px;
  padding: 7px 7px;
  font-size: 16px;
  font-weight: bold;
}

.save-button {
  background-color: #376e6f !important;
  border-color: #376e6f !important;
  margin-top: 25px;
  margin-left: 11px;
}

.cancel-button {
  background-color: #70295b !important;
  border-color: #70295b !important;
  margin-top: 5px;
}
