/* Spinner */
.loader {
  border: 5px solid #ee8585;
  border-top: 5px solid #6960e2;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-left: 28px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
